<a href="https://colab.research.google.com/github/Myeongjoon/GoogleSummerOfCode2020/blob/master/finance_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'MSFT', '^GSPC', '^GOOGL']

start_date = '2010-01-01'
end_date = '2020-04-17'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader('GOOGL', 'yahoo', start_date, end_date)

panel_data.head(9)

                  High         Low  ...      Volume   Adj Close
Date                                ...
2010-01-04  315.070068  312.432434  ...   3908400.0  313.688690
2010-01-05  314.234222  311.081085  ...   6003300.0  312.307312
2010-01-06  313.243256  303.483490  ...   7949400.0  304.434448
2010-01-07  305.305298  296.621613  ...  12815700.0  297.347351
2010-01-08  301.926941  294.849854  ...   9439100.0  301.311310
2010-01-11  302.532532  297.317322  ...  14411300.0  300.855865
2010-01-12  299.379395  294.294281  ...   9696800.0  295.535522
2010-01-13  294.484497  287.237244  ...  12980200.0  293.838837
2010-01-14  297.397400  291.696686  ...   8471700.0  295.220215

[9 rows x 6 columns]